body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('C:\Users\Hp\OneDrive\Pictures\background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333; /* Main text color */
}

header {
    background-color: #222; /* Dark background for header */
    color: white;
    padding: 10px;
    text-align: center;
}
.full-screen {
    background-image: url("C:\Users\Hp\OneDrive\Desktop\Project(Compassion.Net)\background-image.jpg");
   }
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

button {
    background-color: #00a055; /* Dark gray button */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777; /* Light gray button on hover */
}
body {
    background-image: url('C:\Users\Hp\OneDrive\Desktop\Project(Compassion.Net)\background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }